<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hostnetapp">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.AdminUserDetailActivity"
            android:label="Details van werknemer"></activity>
        <activity
            android:name=".ui.AdminResultsActivity"
            android:parentActivityName=".ui.ZoekActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.RoosterActivity"
            android:label="Mijn rooster"/>
        <activity android:name=".ui.RegistreerActivity"
            android:label="Registreren"/>
        <activity android:name=".ui.AdminActivity"
            android:label="Admin panel"/>
        <activity
            android:name=".ui.ResultsActivity"
            android:parentActivityName=".ui.ZoekActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.EditProfileActivity"
            android:label="Profiel wijzigen"/>
        <activity android:name=".ui.ZoekActivity"
            android:label="Overzicht"/>
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.hostnetapp"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>